html {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  color: #2f2d13;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  text-align: center;
  margin: 0;
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3rem;
}

h2 {
  font-size: 1.875rem;
  margin: 0 .3em .3em;
  padding: .8em 0 .5em;
  text-align: left;
}

p {
  margin: 0 .3em .3em;
}

header {
  background-color: #ffe500;
  padding: 0 .3em .75em;
}

nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffe500;
}

ul li {
  display: inline-block;
}

li a {
  border: 1px solid #b2a212;
  border-radius: 4px;
  padding: .2em .4em .3em;
  background-color: #b2a212;
  font-size: 1.125rem;
}

li a:hover {
  border: 1px solid #cc1465;
  border-radius: 4px;
  background-color: #cc1465;
}

main {
  padding: .3em;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: .75em;
}

.current {
  border: 1px solid #b20953;
  background-color: #b20953;
}

img {
  width: 100%;
  display: block;
  padding: 0 .5em .5em;
}
